* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "NotoSansKR", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo",
    "Microsoft NeoGothic", "Droid sans", "맑은 고딕", "Malgun Gothic",
    sans-serif;
}
body {
  font-family: "NotoSansKR", "AppleGothicNeoSD", "Apple SD 산돌고딕 Neo",
    "Microsoft NeoGothic", "Droid sans", "맑은 고딕", "Malgun Gothic",
    sans-serif;
}
